################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
/src/MS.ServerRoleAuthorization/.vs/MS.ServerRoleAuthorization/v16/TestStore/0/testlog.manifest
/src/MS.ServerRoleAuthorization/.vs/MS.ServerRoleAuthorization/v16/TestStore/0/000.testlog
*.suo
/src/MS.ServerRoleAuthorization/packages
*.testlog
/src/.vs/MS.ServerRoleAuthorization/v16/TestStore/0/testlog.manifest
/src/.vs/MS.ServerRoleAuthorization/DesignTimeBuild
